<div class="container-fluid">
  <div class="row" id="header">
    <h1>Songs</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
   <% @songs.each do |song| %>
      <div>
        <h4><%= song.title %></h3>
        <p>by: <%= song.author %></p>
        <p>url: <%= song.url %></p>
      </div>
    <% end %> 
  </div>

<div class="button">
  <a href="/songs/new" class="btn btn-default" role="button">Add a new song!</a>
</div>