<div class="container-fluid">
  <div class="row" id="header">
    <h1>Sign Up</h1>
  </div>
</div>

<br/>

<div class="container-fluid">
  <form action="/user" method="POST">
    <div class="form-group">
      <label>Username:</label>
      <input type="text" name="username">
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input type="text" name="password">
    </div>
    <br/>
    <div>
      <button type="submit" class="btn btn-default">Sign Up</button>
    </div>
  </form>
</div>