<div class="container-fluid">
  <div class="row" id="header">
    <h1>Please log in</h1>
  </div>
</div>

<br/>

<% if session[:login_error] %>
  <p><%= session[:login_error] %></p>
<% end %>

<br/>

<div class="container-fluid">
  <form action="/validate" method="POST">
    <div class="form-group">
      <label>Username:</label>
      <input type="text" name="username">
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input type="text" name="password">
    </div>
    <br/>
    <div>
      <button type="submit" class="btn btn-default">Login</button>
      <a href="/user/new" class="btn btn-default" role="button">Sign Up</a>
    </div>
  </form>
</div>

